@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Mukta&family=Roboto&family=Sofia+Sans+Condensed:wght@400;500&display=swap");

:root {
  --border-radius: 2em;
  font-family: "Kanit", sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  flex: 1;
}

header {
  height: 3em;
  background-color: #8cb2eab2;
  flex-shrink: 0;
}

nav {
  width: 10em;
  background-color: #d2e0fb;
  flex-shrink: 0;
}

main {
  background-color: #8eaccd;
  flex: 1;
  padding-left: 8em;
  padding-right: 8em;
}

footer {
  height: 3em;
  background-color: #8cb2eab2;
  flex-shrink: 0;
}

footer ul {
  text-align: center;
}

footer li {
  display: inline-block;
}

#page-container {
  display: flex; /* my children will obey flex rules */
  flex-direction: row; /* my children will be laid out horizontally */
  flex: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1; /*As a child of another flex parent, I will grow.*/
}

h1 {
  text-align: center;
}

.card-container {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(0, 25em));
  justify-content: center;
}

.card {
  border-radius: var(--border-radius);
  border: 0.3em solid black;
  max-width: 25em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
}

.card img {
  width: 100%;  
  height: 20em;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: block;
}

.card-text {
  flex: 1;
  padding: 1em;
}


/* Write mobile css here */